<nav class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <li class="navbar-brand"><%= link_to 'Онлайн петиции нашего района', root_path %> </li> 
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><a>Вы вошли как <%= current_user.first_name %></a></li>
          <li><%= link_to "Выйти", logout_path %></li>
        <% else %>
          <li><%= link_to "Зарегистрироваться", signup_path %></li>
          <li><%= link_to "Войти", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
